services:
  app:
    build: .
    container_name: 3f-system
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always

# El volumen 'data' es para persistir la base de datos si usas SQLite
# o para subir archivos/adjuntos.
